:root {
    --blue: #131850;
    --lightblue: rgba(19, 24, 80, 0.9);
}

html {
    font-family: Verdana, sans-serif;
}

#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#header-container {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.heading-line::after {
    background-color: var(--blue);
    content: "";
    display: block;
    width: 90%;
    height: 3px;
    margin: 0 auto;
}

.clickable-label {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.clickable-label:hover {
    color: #0056b3; /* Darker blue */
}

#MainNavigationBar {
    background-color: var(--blue);
}

#admissionNotification{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3ClinearGradient gradientTransform='rotate(150, 0.5, 0.5)' x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='ffflux-gradient'%3E%3Cstop stop-color='hsl(315, 100%25, 72%25)' stop-opacity='1' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='hsl(227, 100%25, 50%25)' stop-opacity='1' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3Cfilter id='ffflux-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.005 0.003' numOctaves='2' seed='2' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeGaussianBlur stdDeviation='20 0' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' edgeMode='duplicate' result='blur'%3E%3C/feGaussianBlur%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'%3E%3C/feBlend%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='url(%23ffflux-gradient)' filter='url(%23ffflux-filter)'%3E%3C/rect%3E%3C/svg%3E") center / cover no-repeat;

}

#MainNavigationBar .collapse,
#footer {
    background-color: var(--lightblue);
}

#footer {
    color: white;
}

#footer a {
    color: rgb(172, 172, 172);
    transition: color 0.2s ease-in-out;
}

#footer a:hover {
    color: white;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink-text {
    animation: blink 1s infinite;
}

/* Horizontal Form Wizard */
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.bs-wizard-step {
    position: relative;
    text-align: center;
    flex: 1;
}

.bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin: 16px 0 10px;
}

.bs-wizard-info {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}

.bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fbe8aa;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 2;
}

.bs-wizard-dot::after {
    content: '';
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard-step .progress {
    position: absolute;
    top: 15px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #e0e0e0;
    z-index: 1;
}

.bs-wizard-step.complete .progress {
    background: #fbe8aa;
}

.bs-wizard-step.complete .progress-bar {
    width: 100%;
    background: #fbe8aa;
}

.bs-wizard-step.active .progress-bar {
    width: 50%;
    background: #fbbd19;
}

.bs-wizard-step:first-child .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard-step:last-child .progress {
    width: 50%;
}

.bs-wizard-step.disabled .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard-step.disabled .bs-wizard-dot::after {
    opacity: 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .bs-wizard {
        border-bottom: none;
        flex-direction: column;
        gap: 20px;
    }

    .bs-wizard-step {
        text-align: left;
    }

    .bs-wizard-stepnum,
    .bs-wizard-info {
        margin-left: 50px;
    }

    .bs-wizard-dot {
        top: 15px;
        left: 0;
        transform: none;
    }

    .bs-wizard-step .progress {
        top: 30px;
        left: 30px;
        width: calc(100% - 30px);
    }
}
